body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8f2eb; /* Your chosen warmer color */
}

.centered-content {
    text-align: center; /* Center the content text */
}

h1 {
    font-size: 4em; /* Big title */
    margin: 0 0 1em 0; /* Adjust spacing to your preference */
}

.welcome-text {
    font-size: 2em; /* Subtitle */
    margin: 0 0 0.5em 0; /* Space before the button */
}

.view-menu-button {
    display: inline-block;
    background-color:#f8f2eb;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5em; /* Larger button text */
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.view-menu-button:hover {
    background-color: #f8f2eb; /* Lighter gray on hover */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #f8f2eb;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Ensures that the login is above other elements */
}

.login-button {
    display: inline-block;
    background-color: #f8f2eb; /* This should be a contrasting color */
    color: #333; /* Text color that stands out against the button background */
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em; /* Smaller font size as you requested */
    transition: background-color 0.3s ease;
    border: 1px solid #333; /* Adding a border to make the button more visible */
}

/* Existing styles */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8f2eb; /* Your chosen warmer color */
}

/* Additional styles for login page */
.login-container h2 {
    text-align: center; /* Center the text within the container */
}

.input-group {
    margin-bottom: 15px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #f8f2eb;   /*#ccc;*/
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

.actions a {
    color: #333;
    text-decoration: none;
    padding: 5px;
}

.actions a:hover {
    text-decoration: underline;
}

.role-selection-container {
    text-align: center;
    margin: 0; /* Removes default body margin */
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
    margin-top: 05px; /* Reduce the top margin to bring it closer to the top */
    text-align: center;
    font-size: 36px; /* Increase the font size as needed */
}

.roles {
    margin-top: 50px;
    text-align: center;
}

.role-button {
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
    text-decoration: underline;
    color:  #333; /* Change this as needed */
    cursor: pointer;
}

.role-button:hover {
    text-decoration: none;
}
