<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to CulinaryCloud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="top-right">
        <a href="/logout" class="login-button">Logout</a>
    </div>
    <div>
        <h1>Welcome to the Delivery Management System</h1>
    </div>
    
    <h2>Choose an option:</h2>
    <ul>
        <li><a href="delivery_orders"> Delivery Order</a></li>
        <li><a href="delivery_history">Delivery History</a></li>
        <!-- <li><a href="view_ratings">View Delivery Ratings</a></li> -->
    </ul>
    
    <!-- Add the section for average rating -->
    <div>
        <h2>Your Rating: 4.5</h2>
        <!-- <p>4.5</p> This will be replaced with the actual average rating -->
    </div>
    
    <footer>
        <p>Copyright © 2024 CulinaryCloud</p>
    </footer>
</body>
</html>
