<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Role</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2 style="text-align: center;">Register As</h2>
    <div class="roles" style="text-align: center;">
        <div class="roles">
            <a href="/register/chef" class="role-button">Chef</a>
            <a href="/register/delivery" class="role-button">Delivery</a>
            <a href="/register/importer" class="role-button">Food Importer</a>
            <a href="/register/customer" class="role-button">Customer</a>
            <a href="/register/manager" class="role-button">Manager</a>
        </div>
    </div>
</body>
</html>
