<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CulinaryCloud Menu</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- Link to your CSS file for styling -->
</head>
<body>
<header>
    <h1>CulinaryCloud Menu</h1>
    <p>Authentic cuisine delivered to your door. Order on the web!</p>
</header>
<main>
    <section id="pizzas">
        <h2 style="font-size: 16px;">Pizza A Legna<span class="rating" style="font-size: 12px;"></span></h2>
        <ul>
            <li>New Haven - Tomato Sauce, Fresh Mozzarella, Basil, Pecorino - $16.00</li>
            <li>Pizza with Fired Green Tomatoes - Lightly battered, sliced when available, Napoletana style - $20.00</li>
            <li>Other Pizzas...</li>
        </ul>
    </section>
    <section id="paninis">
        <h2>Panini / Subs<span class="rating"></span></h2>
        <ul>
            <li>Italian Cheese Steak - Natural steak, onion, fresh pepper, mozzarella, marinara sauce with squeeze mushroom - $9.50</li>
            <li>Chicken Panini - Shredded chicken with mozzarella served on lightly toasted brown bread and homemade Béchamel sauce - $11.50</li>
            <li>Other Paninis...</li>
        </ul>
    </section>
    <section id="insalate">
        <h2>Insalate<span class="rating"></span></h2>
        <ul>
            <li>Spinach Salad - Apples, local farm's apple cider dressing - $9.50</li>
            <li>Caprese Salad - Ripe tomato with fresh mozzarella and basil - $7.50</li>
            <li>Other Salads...</li>
        </ul>
    </section>
    <section id="specialty">
        <h2>Specialty<span class="rating"></span></h2>
        <ul>
            <li>Antipasti - Artisanal cheeses, charcuterie, & roasted olives - $13.00</li>
        </ul>
    </section>
    <section id="drinks">
        <h2>Drinks<span class="rating"></span></h2>
        <ul>
            <li>Guinness - $6</li>
            <li>Old Fashioned - With NE rye whiskey, bitters, house made vermouth, Campari - $11</li>
            <li>Other Drinks...</li>
        </ul>
    </section>
</main>
<footer>
    <p>log in and place your order!</p>
</footer>

<script>
    // Function to generate a random star rating (1 to 5)
    function generateRandomRating() {
        return Math.floor(Math.random() * 5) + 1;
    }

    // Get all h2 elements and append a random star rating
    var headings = document.querySelectorAll('h2');
    headings.forEach(function(heading) {
        var rating = generateRandomRating();
        var stars = '★'.repeat(rating);
        heading.querySelector('.rating').textContent = stars;
    });
</script>
</body>
</html>